<html>
<head>
  <title>AirMonitor</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/favicon.ico"/>
  <style>
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    $(function(){ console.log("Hello"); });
  </script>
</head>
<body>
<div id="content">
<form>
  <input id="subdomain" name="subdomain" type="text" value="zendesk">
  <input id="token" name="token" type="text" value="7628b78057ee0a6d99353cc201ac0cb1c0c10a54">
  <input type="submit" value="Wheeee">
</form>
</div>
</body>
</html>
