<form>
  <label style="display:inline-block;width:100px;" for="subdomain">subdomain</label>
  <input style="width:300px;" id="subdomain" name="subdomain" type="text" value=""><br/>

  <label style="display:inline-block;width:100px;" for="token">auth token</label>
  <input style="width:300px;" id="token" name="token" type="text" value=""><br/>

  <input type="submit" value="MONITOR">
</form>
