<html>
<head>
  <title>AirMonitor</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/favicon.ico"/>
  <style>
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    $(function(){ console.log("Hello"); });
  </script>
</head>

<body>
<div id="content">
  Wheeee.
</div>
</body>
</html>
