<!DOCTYPE html>
<html lang="en">

<head>
  <title>AirMonitor</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/favicon.ico"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/jquery.multiselect.css" />
  <script type="text/javascript" charset="utf8" src="/jquery.multiselect.min.js"></script>

  <style type="text/css">
    body,
    .ui-widget {
      font-family: "Helvetica Neue", Arial, sans-serif;
      font-size: 13px;
    }
  </style>
</head>

<body>
<div id="content">
  <%= yield %>
</div>
</body>

</html>
