<!DOCTYPE html>
<html>

<head>
  <title>AirMonitor</title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/favicon.ico"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

  <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/jquery.multiselect.css" />
  <script type="text/javascript" charset="utf8" src="/jquery.multiselect.min.js"></script>

  <script>
    $(function(){ console.log("Hello"); });
  </script>
</head>

<body>
<div id="content">
  <%= yield %>
</div>
</body>

</html>
